<p>albums view index</p>

<h1>Albums</h1>

<table>
  <tr>
    <th>title</th>
    <th>cost</th>
    <th>quantity</th>
    <th>artist</th>
    <th>genre</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><%= album.title %></td>
    <td><%= album.cost_price %></td>
    <td><%= album.quantity %></td>  
    <td><%= album.artist.name %></td>  
    <td><%= album.genre.type %></td>  
  </tr>
  <% end %>
</table>