<h1>Albums</h1>

<table>
  <tr>
    <th>title</th>
    <th>cost</th>
    <th>quantity</th>
    <th>artist</th>
    <th>genre</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><%= album.title %></td>
    <td><%= album.cost_price %></td>
    <td><%= album.quantity %></td>  
    <td><%= album.artist.name %></td>  
    <td><%= album.genre.type %></td>  
    <td><a href='/albums/<%= album.id %>/edit'>Edit</a></td>
  </tr>
  <% end %>
</table>

<a href="/albums/new">New Album</a>

