<h1>Albums</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Cost</th>
    <th>Quantity</th>
    <th>Artist</th>
    <th>Genre</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><a href='/albums/<%= album.id%>'><%= album.title %></td>
    <td><a href='/albums/<%= album.id%>'>£<%= album.cost_price %></td>
    <td><a href='/albums/<%= album.id%>'><%= album.quantity %></td>  
    <td><a href='/albums/<%= album.id%>'><%= album.artist.name %></td>  
    <td><a href='/albums/<%= album.id%>'><%= album.genre.type %></td>  
  </tr>
  <% end %>
</table>
<br>
<br>
<br>
<a href="/albums/new">New Album</a>