<p>Title <%= @album.title  %></p>
<p>Quantity <%= @album.quantity  %></p>
<p>Price <%= @album.cost_price  %></p>
<p>Artist <%= @album.artist.name  %></p>
<p>Genre <%= @album.genre.type  %></p>

<form method="post" action="/albums/<%=@album.id%>/delete"> 
  <input type="submit" value="Delete"/>
</form>