<table>
  <tr>
    <th>Title</th><th><%= @album.title  %></th>
  </tr>
  <tr>
    <th>Cost</th><th>£<%= @album.cost_price  %></th>
  </tr>
  <tr>
    <th>Quantity</th><th><%= @album.quantity  %></th>
  </tr>
  <tr>
    <th>Artist</th><th><%= @album.artist.name  %></th>
  </tr>
  <tr>
    <th>Genre</th><th><%= @album.genre.type  %></th>
  </tr>
</table>

<p><a href='/albums/<%= @album.id %>/edit'>Edit</a></p>

<form method="post" action="/albums/<%=@album.id%>/delete"> 
  <input type="submit" value="Delete"/>
</form>