<h3><%= @artist.name %></h3>

<% for album in @artist.albums %>

<table>
  <tr>
    <th><%= album.title  %></td>
  </tr>
  <tr>
    <th>quantity <%= album.quantity  %></td>
  </tr>
  <tr>  
    <th>cost_price £<%= album.cost_price  %></td>
  </tr>
</table>

<% end %>

<br>

<form method="get" action="/artists/<%= @artist.id %>/edit"> 
  <input type="submit" value="Update Artist"/>
</form>

<br>

<form method="post" action="/artists/<%=@artist.id%>/delete"> 
  <input type="submit" value="Delete"/>
</form>