<p>Name <%= @artist.name %></p>

<% for album in @artist.albums %>
<p>title <%= album.title  %></p>
<p>quantity <%= album.quantity  %></p>
<p>cost_price <%= album.cost_price  %></p>

<form method="get" action="/artists/<%= @artist.id %>/edit"> 
  <input type="submit" value="Edit Artist"/>
</form>

<br>

<form method="post" action="/artists/<%=@artist.id%>/delete"> 
  <input type="submit" value="Delete"/>
</form>

<% end %>